body {
  margin: 0;
  padding: 0
 }
 body, div, p, table {
  font-family: 'Roboto Slab', serif;
 }

.lang-nav {
  width: 100%;
  padding: 12px;
  background: #b5cc69;
  height: 65px;
}
hr {

    border-top: 1px solid #346026;
}
.middle {
    margin-top: 15vh;

}
.lang-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 77px;
  margin-right: -30px;
}
.lang-nav ul li {
  list-style: none;
  padding: 1px 8px;
  font-size: 15px;
  float: left;
}
.lang-nav ul li img {
  width: 30px;
}
.outer-nav {
  background-color: hsla(170, 100%, 100%, .75);
  position: absolute;
  z-index: 1980;
  height: 100%;
  right: 0;
}
.nav {
  position: absolute;
  text-align: center;
  height: 100%; top: 0;
}
.nav ul {
  margin: 0;
  padding: 0;
}
.nav ul li {
  list-style: none;
  color: #104b00;
  padding: 14px 0;
  font-size: 15px;
  font-weight: 300;
  float: left;
  clear: both;
}
.nav ul li a {
  color: #104b00;
  font-size: 18px;
  padding: 14px 14px;
}
.nav ul li a:hover {
  color: #ba6313;
  text-decoration: none;
  background: #fff;
}
.nav ul li.login a {
  background: url(../images/sprite.png) no-repeat 0 2px;
  width: 49px;
  height: 49px;
  display: block;
  text-indent: 39px;
  margin-top: -14px;
  margin-left: 14px;
}
.nav ul li.login a:hover {
  background: url(../images/sprite.png) no-repeat;
  background-position:0 -48px;
  background-color: none;
}
.nav li:hover > ul {
  display: block;
  text-decoration: none;
}
.nav ul li ul {
  list-style: none;
  color: #104b00;
  padding: 14px 0;
  font-size: 15px;
  font-weight: 300;
  float: left;
  clear: both;
  position: absolute;
  margin: 13px 0 0 0;
  background: #B5CC69;
  display: none; 
}
.nav ul li ul li {
  list-style: none;
  color: #104b00;
  padding: 14px 12px;
  font-size: 15px;
  font-weight: 300;
  float: left;
  clear: both;
}
.nav ul li ul li a {
  color: #104b00;
  font-size: 18px;
  padding: 14px 14px;
}
.nav ul li ul li a:hover {
  color: #ba6313;
  text-decoration: none;
  background: #fff;
}
.nav .full{
  background-color: #b6cc68;
  height: 100%;
    right: -300px;
  position: absolute;
  width: 300px;
}
.caret {
  background: hsla(0, 0%, 0%, 0) url(../images/sprite.png) repeat scroll -294px 0;
  border: medium none !important;
  top: -49px;
  z-index: 90;
  right: 10px;
  position: absolute;
  width: 46px;
  height: 33px;
  text-indent: -900em; display: block;
}
.caret a {
  width: 41px;height: 38px; display: block;
}
.phone {
  display: block;
  width: 100%;
  text-align: center;
  background: #A98A62;
  position: absolute;
}
.phone a{
  color: #fff;
}

header {
  overflow: auto;
  position: inherit;
}
.heroImage {
  width: 100%; 
  position: relative;
  z-index: -1;
}
.heroImage img {
  width: 100%;
  height: auto;
  position: relative;
  top:-41px;
  min-width: 600px;
}

.page .heroImage {
  height: 130px;
  overflow: hidden;
}
.logo {
  width: 45%;
  position: absolute;
  top: 6px;
  left: 9px;
  margin: 0 auto;
  z-index: 989;
}
.logo-inner {
  text-align: right;
  width: 45%;
  position: absolute;
  right: 50px;
  margin:-9px 0 0 0;
}
.frontpage .logo-inner {
  display: none;
}
.frontpage .heroImage img {
  position: relative;
}
.logo-inner img {
  max-width: 190px;
  margin: 0 auto;
}
.logo img {
  max-width: 200px;
  margin: 0 auto;
}
h2.site-name {
  font-size: 16px;
  color: #a4612d;
  font-weight: 300;
  position: absolute;
  top: 289px;
  z-index: 297;
  padding-left: 5px;
}
.page h2.site-name {
  display: none;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-shadow: unset;
  position: absolute;
  top: 37px;
  /* left: 200px; */
  margin-left: 0;
  width: text-align:center;
  width: 100%;
}
h2.slogan {
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  position: absolute;
  top: -130px;
}

/* home page content */
.oval, .ovalLeft  {
  display: none;
}

.top-content {

}
.page .middle-content {
  background: url(../images/hills-bg2.png);
  background-size: 200%;
  margin-top: -88px;
  padding-top:94px;
  background-repeat: no-repeat;
}
.page.account .middle-content {
  background: none;
  margin-top: 0;
  padding-top:8px;
}
.top-content img {
  width: 100%;
  height: auto;
}
.logos {
  margin-bottom: 30px;
}
.logos div {
  height: 155px;
  line-height: 150px;
  text-align: center;
}
.logos div img {
  width: 80%;
}
.feature-img-inner {
  overflow: hidden;
  position: relative;
  bottom: 339px;
}
.feature-img-inner-left {
  overflow: hidden;
  position: relative;
  bottom: 450px;
  padding:0;
}
.inner-hero {
  overflow: hidden;
  position: relative;
  bottom: -73px;
  margin-top: -113px;
  padding: 0;
}
.inner-hero img {
  width: auto;
  position: relative;
  z-index: -2;
  min-height: 400px;
  overflow: hidden;
}
.feature-img-inner img ,.feature-img-inner-left img {
  width: auto;
  position: relative;
  z-index: -2;
  min-height: 400px;
  overflow: hidden;
}
.feature1, .feature2, .feature3 {
  height: 356px;
  overflow: hidden;
}
.inner-page {

}
.sidebar a {
  background: #b5cc69;
  color: #2074e7;
  padding: 12px;
}
.sidebar p {
  font-size: 1.2em;
  text-align: left;
}
.sidebar h3 {
  font-size: 30px;
  font-weight: 200;
  color: #9c5d1e;
  text-transform: uppercase;
  background: #fff;
  width: 115%;
  padding: 7px;
  text-align: left;
}

h1.pg-title {
  font-size: 33px;
  margin: -46px auto 0 0;
  background: none;
  width: auto;
  text-align: left;
  padding: 17px;
  /* z-index: 8; */
  position: relative;
  color: #346026;
      top: 37px;
  /* background: white; */
}
.account h1.pg-title {
  font-size: 33px;
  font-weight: 100;
  margin: 0;
  background: none;
  width: 50%;
  text-align: left;
  padding: 0;
  /* z-index: 8; */
  position: relative;
  color: #346026;
   top:0;
  /* background: white; */
}
.side-block {
  border-bottom: 3px solid #e8c72e;
  padding-bottom: 30px;
}
.side-nav {
  position: absolute;
  top: 105px;
  overflow: visible;
  z-index: 9152;
  left: -250px;
  background: #346026;
  padding: 20px;
  width: 250px;
}

.butn {
  display: block;
  cursor: pointer;
  background: ;
  position: relative;
  right: -65px;
  float: right;
  top: -20px;
  color: #fff;
  background: url(/images/sprite.png) no-repeat -61px -33px #b5cc69;
  width: 33px;
  height: 33px;
  text-indent: -900em;

}
.butn:hover,.butn-close:hover {
  background-position-y:-59px;
  }
.butn-close {
  background: url(/images/sprite.png) no-repeat -89px -33px #b5cc69;
}
.nav-title {
  position: relative;
  right: -169px;
  color: #fff;
  position: absolute;
  text-align: right;
  display: none;
  margin-top: -15px;
  background: #346026;
  padding: 5px;
  z-index: 565;
}
.side-nav ul {
  padding: 0;
}
.side-nav li {
  list-style: none;
  padding: 9px 0;
  color: #fff;
  margin: 0;
}
.side-nav li a {
  list-style: none;
  padding: 9px 0;
  color: #fff;
}
.rule {
  height: 4px;
  background: #76A99B;
  position: absolute;
  z-index: -1;
  top: 82px;
  width: 98%;
}
h1 {
  font-size: 41px;
  color: #000;
  padding: 0;
}
ul li strong {
  font-size: 18px;
}
.page-description {
  margin-left: 4%;

}
.middle-content .page-description {
  margin: 0;
  background: #F9F4E8;
  overflow: auto;
  min-height: 450px;
}
.middle-content .page-description strong {
  font-size: 17px;
}
.feature-img,.feature-img-left {
  z-index: -1;
}
.feature-detail {
  text-align: center;
  color: #323232;
  margin-left: 0;
  margin-top: 0%;
}

.middle-content {
  background-color: #fbf5ec;
}

.who-we-are {
  padding: 12px 0 0 0;

}
.circle {
  height: 203px;
  width: 203px;
  margin: 0 auto;
}
.circle img {
  border-radius: 100px;
  width: 100%;
}
.callout {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.bottom-content { 
  background-color: #869e35;
  text-align:center;
}
h3 {
  font-size: 23px;
  font-weight: 200;
  color: #9c5d1e;
  text-transform: uppercase;
}
h4 {
  color: #9c5d1e;
  font-size: 18px;
  text-transform: uppercase;
}
.laad-link {
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  color: #458e04;
}
footer {
  text-align: center;
  padding: 30px;
  background: #feda57;
}
img {max-width: 100%; height: auto;}
h2.site-name {
  font-size: 16px;
  color: #a4612d;
  font-weight: 300;
  position: absolute;
  z-index: 297;
  padding-left: 5px;
  background: #fff;
  width: 90%;
  text-shadow:1px -1px 3px #333;
}
/** resonsive code below **/

@media all and (max-width: 546px) {

.lang-nav ul {
    top: 77px;
    margin-right: -30px;
}
}
@media all and (max-width: 1246px) and (min-width: 481px) {
h1.pg-title {

    margin: -206px auto 0 0 !important;
  }
.page .middle-content {
    background-size: contain;
    padding-top: 116px;
}
.lang-nav ul {
    top: unset;
    margin-right: -30px;
}
.heroImage img {
    width: 100%;
    height: 400px;
    position: fixed;
    top: 0;
}
}
@media all and (min-width: 481px) {
.feature-detail {

  margin-top: 0;
}
.heroImage img {
  width: 100%; 
  height: auto;
  position: fixed;
  top: 0;
}p {
  font-size: 1.3em;
}
.logo-inner {
  width: 45%;
  margin: 0;
  position: absolute;
  text-align: left;
  right: unset;
}
.logo {
  text-align: left;
  position: absolute;
  top: 181px;
  width: auto;
  z-index: 98;
  right: unset;
  left: unset;

}
.opt2 {
    margin:-20px 0 0 0;
  padding: 25px 25px 44px 25px;
  background: hsla(0,100%,100%,.75);
}
.logo img {
  max-width: unset;
}
.outer-nav {
  background-color: hsla(170, 100%, 100%, .75);
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 300;
  height: 52px;
}
.lang-nav {
  height: unset;
  padding: 20px;
  }
.lang-nav ul {
  top: unset;
   margin-right: -90px;
}
.lang-nav ul li img {
  width: 100%;
}
.phone {
    background: none;
}
.phone a {
  padding: 16px;
  display: block;
  color: #ba6313;
  float: right;

}
.caret {
  display: none;
}
.nav {
  min-width: 980px;
  background-color: unset;
  position: relative;
  min-width: 207px;
}
.nav ul li {
  clear: none;
}

.nav .full{
  right: unset;
  width: auto;
  background: none;
}
.oval {
   width:50%;
   background-image:url(/images/oval-overlay.png);
   position:absolute;
   z-index:0;
   margin-left: 50%;
   height: 356px;
   display: block;
}
.ovalLeft {
   width:52%;
   background-image:url(/images/oval-overlay2.png);
   position:absolute;
   z-index:0;
   height: 356px;
   background-position: bottom right;
   display: block;
}
.oval-innerpg {
   width:100%;
   background-image:url(/images/innerpg-circle.png);
   position:absolute;
   background-size: cover;
   z-index:-1;
   height: 568px;
   display: block;
   bottom: 0;
}
.rightSide {
   width:100%;
   background-image:url(/images/innerpg-circle2.png);
   background-size: cover;
}

.feature-detail {
  text-align: center;
  color: #323232;
  margin-left: -8%;
  margin-top: 6%;
}
.feature2 .feature-detail {
    margin-right: -7%;
    margin-left: 7%;
}
.callout {
  color: #3d3d3d;
  font-size: 28px;
}
.bottom-content {
  background: url(/images/sky.png) no-repeat bottom center;
  background-size: cover;
  background-color: #a1dcee;
  text-align: center;
  font-size: 36px;
  color: #fff;
}
.bottom-content-inner {
  background: url(/images/green.png) no-repeat;
  background-size: contain;
  background-color: #617632;
  padding-top: 63px;
  text-align: center;
  font-size: 36px;
  color: #fff;
}
.who-we-are {
  padding: 80px 0 140px 0;
}
.phone {
  margin: 0;
  margin-right: 6%;
  color: #000;
  z-index: 987;
  width: auto;
  text-align: right;
  float: right;
  right: 0;
}
.page h2.site-name {
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-shadow: unset;
  position: absolute;
  top: 18px;
  /* left: 200px; */
  margin-left: 243px;
  width: auto;
}
.page .heroImage {
  height: 300px;
  overflow: hidden;
}
.statement {
  background: #f6f2e2;
  padding: 3%;
}
.list-statements {
  background: #fff;
  padding: 3%;
}
.list-transactions {
  background: #fff;
  padding: 3%;
  font-size: 16px;
}
.list-transactions .row {
  padding: 6px 0;
  border-bottom: 1px solid #bfc0c1;
}
.account-hdr {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #869e35;
}
.acc-number {
  text-align: right;
  font-size: 16px;
  margin-top: 12px;
}
.acc-number strong {
  font-size: 21px;
  color: #9c5d1e;
  text-transform: uppercase;
}
.center {text-align: center;}
.hdr-transactions {
  background: #e7d656;
  border-top-right-radius:18px;
  border-top-left-radius:18px;
  padding: 8px 15px;
}
.page.account .heroImage {
  height: 210px;
  overflow: hidden;
}
.page .middle-content {
  background-size: contain;
  padding-top:145px;

}
h1.pg-title {
  font-size: 33px;
  margin: -168px auto 0 0;
  top: 0;
  background: #fff;
  width: auto;
  text-align: left;
  padding: 17px;
  z-index: 8;
  position: absolute;
  color: #346026;
  /* background: white; */
}
.side-nav {
  position: fixed;
  top: 170px;
 
}
h2.site-name {

    background: none;
    width: unset;
}
h3 {
  font-size: 33px;
  }
}


@media all and (max-width: 1280px) {
.nav ul li a {
  font-size: 15px;
  padding: 14px 11px;
}
.phone {
  margin-right: .5%;
}
}


@media all and (max-width: 1000px) {

.nav {
  width: 66%;
  margin-left: 0;
  margin-top: -62px;
}
.nav .full {
  background: #b6cc68;
  height: auto;
}
  }

@media all and (max-width: 400px) {

.page .middle-content {
    background: none;
    background-color: #333;
    margin-top: 38px;
    padding-top: 0;
    background-repeat: no-repeat;
}
}
